qgis.dtd

<!-- DTD for QGIS project file
* This DTD describes the maplayers and their symbology and
* is used when saving/restoring a QGIS project.
-->

<!--
  --  Project Properties
  --
  -->
<!ELEMENT qgis (title, extent, projectlayers) >
<!ELEMENT projectlayers (maplayer*) >
<!ELEMENT extent (xmin, ymin, xmax, ymax) >
<!ELEMENT xmin (#PCDATA) >
<!ELEMENT ymin (#PCDATA) >
<!ELEMENT xmax (#PCDATA) >
<!ELEMENT ymax (#PCDATA) >
<!ELEMENT title (#PCDATA) >
<!--  Attribute Lists -->
<!ATTLIST qgis projectname CDATA #REQUIRED >
<!ATTLIST projectlayers layercount CDATA #REQUIRED >
<!--
  --  General Map Layer Properties
  --  (apply to both vector and raster)
  -->
<!ELEMENT maplayer (layername, datasource, zorder, symbol) >
<!ELEMENT layername (#PCDATA) >
<!ELEMENT datasource (#PCDATA) >
<!ELEMENT zorder (#PCDATA) >
<!--  Attribute Lists -->
<!ATTLIST maplayer 
	type (vector|raster|database) "vector"
	visible (1|0) "0"
	>
<!--
  --  Vector Layer Properties
  --
  -->
<!ELEMENT symbol (linewidth, outlinecolor, fillcolor) >
<!ELEMENT linewidth (#PCDATA) >
<!ELEMENT fillcolor EMPTY>
<!ELEMENT outlinecolor EMPTY>
<!--  Attribute Lists -->
<!ATTLIST fillcolor 
	red CDATA #IMPLIED
	green CDATA #IMPLIED
	blue CDATA #IMPLIED
	>
<!ATTLIST outlinecolor 
	red CDATA #IMPLIED
	green CDATA #IMPLIED
	blue CDATA #IMPLIED
	>
<!--
  --  Raster Layer Properties
  --
  -->
<!ELEMENT rasterproperties (showDebugOverlayFlag, showGrayAsColorFlag, invertHistogramFlag, stdDevsToPlotDouble, transparencyLevelInt, redBandNameQString, greenBandNameQString, blueBandNameQString, grayBandNameQString) >
<!--Raster flag to indicate whether debug infor overlay should be rendered onto the raster -->
<!ELEMENT  showDebugOverlayFlag>
<!--Raster flag indicating whether grayscale images should be rendered as pseudocolor -->
<!ELEMENT  showGrayAsColorFlag>
<!--Raster : flag indicating whether the histogram should be inverted or not -->
<!ELEMENT  invertHistogramFlag>
<!--Raster : Number of stddev to plot (0) to ignore -->
<!ELEMENT  stdDevsToPlotDouble>
<!--Raster transparency for this layer should be 0-255 -->
<!ELEMENT transparencyLevelInt>
<!--Raster : the band to be associated with the color red - usually red -->
 <!ELEMENT redBandNameQString (#CDATA)>
<!--Raster : the band to be associated with the color green - usually green -->
<!ELEMENT  greenBandNameQString (#CDATA)>
<!--Raster : the band to be associated with the color blue - usually blue -->
<!ELEMENT  blueBandNameQString (#CDATA)>
<!--Raster :  the band to be associated with the grayscale only ouput - usually gray  -->
<!ELEMENT grayBandNameQString (#CDATA)>
<!--  Attribute Lists -->
<!ATTLIST showDebugOverlayFlag boolean (1|0|true|false) "false">	
<!ATTLIST showGrayAsColorFlag boolean (1|0|true|false) "false">
<!ATTLIST invertHistogramFlag boolean (1|0|true|false) "false">
<!ATTLIST stdDevsToPlotDouble value CDATA "0">
<!ATTLIST transparencyLevelInt value CDATA "0">
