python/plugins/processing/tests/testdata/expected/join_by_location_line_to_polys_reproj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://ogr.maptools.org/" xmlns:ogr="http://ogr.maptools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="1.0">
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:_FeatureCollection"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureCollectionType">
      <xs:attribute name="lockId" type="xs:string" use="optional"/>
      <xs:attribute name="scope" type="xs:string" use="optional"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="join_by_location_line_to_polys_reproj" type="ogr:join_by_location_line_to_polys_reproj_Type" substitutionGroup="gml:_Feature"/>
<xs:complexType name="join_by_location_line_to_polys_reproj_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:LineStringPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
        <xs:element name="val" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_empty" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_filled" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_min_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_max_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_mean_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_empty" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_filled" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_min_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_max_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="name_mean_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_range" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_median" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_stddev" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_minority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_majority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_q1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_q3" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval_iqr" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_range" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_median" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_stddev" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_minority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_majority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_q1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_q3" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval_iqr" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
