python/plugins/processing/tests/testdata/expected/join_by_location_summary_reproject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://ogr.maptools.org/" xmlns:ogr="http://ogr.maptools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="1.0">
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:_FeatureCollection"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureCollectionType">
      <xs:attribute name="lockId" type="xs:string" use="optional"/>
      <xs:attribute name="scope" type="xs:string" use="optional"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="join_by_location_summary_reproject" type="ogr:join_by_location_summary_reproject_Type" substitutionGroup="gml:_Feature"/>
<xs:complexType name="join_by_location_summary_reproject_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:PolygonPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
        <xs:element name="name" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="intval" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="floatval" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_empty" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_filled" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_min_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_max_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid_mean_length" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_range" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_median" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_stddev" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_minority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_majority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_q1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_q3" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_iqr" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_count" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_unique" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_range" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_median" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_stddev" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_minority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_majority" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_q1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_q3" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id2_iqr" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="21"/>
              <xs:fractionDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
